html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}

#viewport {
  width: 100%;
  height: 100%;
  overflow: hidden;

}

#viewport::before {
  content: "";

  position: absolute;
  left: 0;
  top: 0;
  width : 100%;
  height: 100%;

  background-color: #f0f0f0;
  background-image: url('assets/stone.png');
  background-size: 150px;
  background-repeat: repeat;
  image-rendering: pixelated;
  filter: blur(3px) brightness(0.5);
}

#content {
  width: max-content;
}

.timeline-split {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.box a {
  color: #c0c0c0;
}

.box {
  display: block;
  max-width: 300px;

  padding: 10px;
  text-align: center;

  cursor: text;
  user-select: text;

  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);

  color: #ffffff;
  background-color: #505050;
  background-size: 150px !important;
  background-repeat: repeat;
  background-blend-mode: darken;
  image-rendering: pixelated;
}

.jungle {
  background-color: #3c5e2c;
  background: #0000004c url('assets/jungle.png');
}

.bedrock {
  background-color: #353535;
  background: #00000080 url('assets/bedrock.png');
}

.stone_bricks {
  background-color: #353535;
  background: #0000004c url('assets/stone_bricks.png');
}

.mangroove {
  background-color: #5a482c;
  background: #0000004c url('assets/mangroove.png');
}
